@model BusinessLayer.User

@{
    ViewData["Title"] = "Details";
}
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/UserIndex.css"> <!-- Linking the login.css -->
    <title>Edit User</title>
</head>
<headerhh>
    <h1>User | @Html.DisplayFor(model => model.UserName) | Details</h1>

</headerhh>
<body>
<main>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Age
                </th>
                <th>
                    Courses
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.UserName)
                </td>
                
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
                
                <td>
                    @Html.DisplayFor(model => model.Age)
                </td>
                
                <td>
                    @string.Join(", ", Model.Courses.Select(b => b.Name))
                </td>
            </tr>
        </tbody>
    </table>
</main>
</body>
<div>
    <a class="cta-button" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="cta-button" asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}