<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a class="logo-h" href="@Url.Action("Index")">
                    <img src="~/resources/logo.jpg" alt="logo" class="logo-image">
                    Learn Wizard
                </a>
            </div>

            <ul class="nav-log">
                <li><question-mark><a href="@Url.Action("About")">?</a></question-mark></li>
                <li><a href="@Url.Action("Login")">Login</a></li>
                <li><a href="@Url.Action("Register")">Register</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <a href="@Url.Action("Contact")"><i class="fas fa-envelope" id="mitko"></i><p>2023 Learn Wizard</p></a>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
